.header {
  position: absolute;
  width: 100%;
  height: 15%;
  right: 0;
  top: 0;
  left: 0;
  background-color: $color-brand-primary;
  clear: both;
}

.section {
  position: absolute;
  width: 100%;
  height: 80%;
  right: 0;
  bottom: 5%;
  top: 15%;
  left: 0;
  clear: both;
}

.footer {
  position: absolute;
  width: 100%;
  height: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-brand-info;
  clear: both;
}

.workout-header {
  padding: $md;
  position: fixed;
  width: 100%;
  height: 10%;
  right: 0;
  top: 0;
  left: 0;
  background-color: $color-brand-primary;
  clear: both;
}

.workout-content {
  margin-top: 20%;
}
