<header class="header">
  <h1 class="heading text-center margin-top-lg margin-bottom-lg">{{title}}</h1>
</header>
<section class="section">
  <div class="container content">
    <div class="heading--2 margin-left-md margin-bottom-md">Select a workout</div>
    <ul class="list">
      <li class="list__item list__item--clickable" *ngFor="let name of list; let i = index">
        <div class="list__item-content">
          <span class="list__item-text">{{name}}</span>
          <span class="list__item-edit" (click)="changeListName(i)">Edit name</span>
        </div>
      </li>
    </ul>
  </div>
</section>
<footer class="footer">
  <p class="muted-text text-center">Created by Etiam Domum</p>
</footer>


